.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin: 6px 10px 6px 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
